# 32-bit float из двух регистров
#lo_value = FLOAT( (uint32_t)(IR[1] << 16) | HR[0] )
#AppStruct.lo_value = FLOAT( (uint32_t)(IR[1] << 16) | HR[0] )
synonym = FLOAT( (uint32_t)( 0x4121 << 16) | 0x0000 )

# 64-bit double из четырех регистров
#dp_value = DOUBLE( (uint64_t)( IR[3] << 48 | IR[2] << 32 | IR[1] << 16 | IR[0] ) )
dp_value = DOUBLE( (uint64_t)( 0x4702 << 48 | 0x7D2A << 32 | 0x59B5 << 16 | 0x1735 ) )
hi_value = 1111
ZREPEAT = ZREPEAT + 1
oops  = oops + 1 # test comment in line
oops0 = (oops % 2 == 0) ? 1 : 4
sum = sum + oops0
state.A1 = IR[301]
VHR900=HR[900]
VIR900=IR[900]
tmpVar
now = IR[ 301 ] | ( IR[ 300 ] << 16 )
state.A1 = 
state.B3 = 
BEBEBE = 2 / 0
BEBEBE2 = 2.0 / 0.0
BEBEBE3 = 5 % 0
BEBEBE4 = 5 / 0.00000000000000000000000001
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK = 23