# connect options
#MODBUS_RTU:serial_tty_file:baud:data-bit:parity_control:stop-bit:SlaveID
#MODBUS_TCP:IP-addr:IP-port:SlaveID
MODBUS_TCP:45.8.248.56:502:10
#MODBUS_RTU:/dev/ttyUSB0:115200:8:N:1:10

# 32-bit float из двух регистров
#Value =           FLOAT( (uint32_t)(IR[1] << 16) | HR[0] )
#AppStruct.Value = FLOAT( (uint32_t)(IR[1] << 16) | HR[0] )
V =                FLOAT( (uint32_t)( 0x4121 << 16) | 0x0000 )

# 64-bit double из четырех регистров
#dp_value = DOUBLE( (uint64_t)( IR[3] << 48 | IR[2] << 32 | IR[1] << 16 | IR[0] ) )
dp_value = DOUBLE( (uint64_t)( 0x4702 << 48 | 0x7D2A << 32 | 0x59B5 << 16 | 0x1735 ) )
hi_value = 1111
ZREPEAT = ZREPEAT + 1
oops  = oops + 1 # test comment in line
oops0 = (oops % 2 == 0) ? 1 : 4
sum = sum + oops0
state.A1 =  IR[301]      & 1
state.A2 = (IR[301] >>1) & 1
state.A3 = (IR[301] >>2) & 1
tmpHR900=HR[900]
tmpIR900=IR[900]
SourceTime = IR[ 301 ] | ( IR[ 300 ] << 16 )
Code = SourceTime & 0x0F
