# connect options
MODBUS_TCP: 45.8.248.56 : 502 : 6

# 32-bit float из двух регистров
tmpValue01 = FLOAT( (uint32_t)( HR[1] << 16) | HR[2] )
tmpValue23 = FLOAT( (uint32_t)( HR[3] << 16) | HR[4] )

AppStruct.Value = 3 * (FLOAT( (uint32_t)( HR[5] << 16) | HR[6] ) + FLOAT( (uint32_t)( HR[7] << 16) | HR[8] ))

Code  = 5
